body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide3.png");
}

.container, .catalog-page {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: -7px auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  margin-top: 4px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  text-decoration: none;

  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  text-decoration: none;

  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}


a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.3);
}

a:hover,
a:active {
  color: #ffbc9e;
  text-decoration: underline;
  text-decoration-color: rgba(255,188,158,0.3);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  display:flex;
  flex-wrap: nowrap;
}

.navigation,
.navigation-current {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
  padding-left: 9px;
}

.navigation-link {
  padding-left: 14px;
  padding-right: 14px;
}

.navigation-link:hover {
  color: #333333;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 30px;

  background-color: #f7f6f3;
  box-shadow: 0 5px 10px -3px #323232;
}

.navigation-link:active {
  color: #333333;
  text-decoration: none;

  background-color: #f8f7f4;
}

.navigation .navigation-current {
  color: #ffffff;
  pointer-events: none;
  padding-top: 6px;
  padding-bottom: 8px;
  margin-top: -6px;

  border-radius: 30px;

  background-color: #d07058;

  text-decoration: none;
}

.navigation > li {
  position: relative;
}

.navigation-list {
  position: absolute;
  top: 31px;
  left: -7px;
  z-index: 1;

  display: none;

  list-style: none;
  min-width: 142px;

  margin: 0;
  padding: 0;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.navigation li:hover .navigation-list {
  display: block;
}

.navigation-item:hover {
  background-color: #fbded7;
}

.navigation-item:active {
  background-color: #f6b5a5;
}

.navigation-item {
  height: 31px;
  line-height: 31px;
  padding-left: 20px;
  position: relative;
}

.navigation-item:first-child {
  border-radius: 5px 5px 0 0;
}

.navigation-item:last-child {
  border-radius: 0 0 5px 5px;
  padding-bottom: 7px;
}

.navigation-item .navigation-item-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  background-color: #d07058;
}

.navigation-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  margin: 0;
  padding: 0;
}

.navigation-news {
  height: 40px;
  line-height: 36px;
}

.navigation-news::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  border-bottom: 1px solid rgba(50,50,50,0.2);

  transform: translate(-50%);
}

.navigation-news a {
  font-weight: bold;
}

.user-navigation {
  display: flex;
  flex-wrap: nowrap;
  max-width: 300px;
  margin-left: auto;
  padding-top: 13px;
  height: 32px;
}

.user-navigation a {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);

  margin: 0;
  margin-left: 10px;
  padding-top: 6px;
  padding-right: 18px;
  border-radius: 30px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.search {
  position: relative;
  margin-left: auto;
  padding: 16px;
}

.search svg {
  position: absolute;
  top: 7px;
  left: 8px;
}

.login-link,
.basket {
  display: flex;
  padding-left: 10px;
}

.login-link svg,
.basket svg {
  padding-right: 4px;
}

.login-link g,
.basket g,
.search path {
  fill: #ffffff;
}

.login-link:hover g,
.basket:hover g,
.search:hover path,
.login-link:focus g,
.basket:focus g,
.search:focus path {
  fill: #000000;
}

.main-header {
  position: relative;
}

.timetable {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 72px;
  right: 0;
}

.timetable span {
  font-size: 22px;
  line-height: 33px;
}

.stock {
  margin: 40px 0;
}

.raspberries {
  background-color: #862944;
  background-image: url("../img/raspberries.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.chokolate {
  background-color: #21120e;
  background-image: url("../img/chokolate.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.stock-list {
  list-style: none;

  min-height: 230px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.stock-item {
  position: relative;
  max-width: 560px;
  border-radius: 10px;
}

.stock-item h3 {
  margin: 15px 18px;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.stock-item p {
  margin: 5px 18px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
}

.stock-button {
  font-size: 18px;
  line-height: 24px;

  margin: 0;
  padding: 10px 23px;

  position: absolute;
  top: 160px;
  right: 20px;
}

.hit {
  margin-bottom: 39px;
}

.hit-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.hit-item {
  max-width: 267px;
  min-height: 323px;

  position: relative;
}

.hit-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hit-item img,
.basketful-list img,
.catalog-list img,
.hover-product img {
  border-radius: 50%;
}

.hit-item p,
.catalog-item p,
.hover-product p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;

  position: absolute;
  top: 161px;
  left: 0;
}

.hit-item span,
.catalog-item span,
.hover-product span {
  font-size: 30px;
}

.hit-item a,
.catalog-item a,
.hover-product a {
  display: block;
  text-align: center;
  margin-top: 10px;
  max-width: 255px;
  padding-left: 5px;
}

.info {
  min-height: 305px;
  max-width: 1146px;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  background-color: #ecdec3;
  background-image: url("../img/background-wafer.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.info-content {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #323232;

  display: block;
  padding-top: 22px;
  padding-left: 21px;
  margin-bottom: 9px;
}

.info-list {
  list-style: none;

  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
}

.info-item {
  font-weight: 400;
  color: #323232;

  padding-top: 12px;
  padding-left: 58px;
  padding-bottom: 10px;

  flex-basis: 482px;
}

.info-item:nth-child(1)::before,
.info-item:nth-child(2)::before,
.info-item:nth-child(3)::before,
.info-item:nth-child(4)::before {
  content: "";

  position: absolute;

  width: 49px;
  height: 49px;
}

.info-item:nth-child(1)::before {
  top: 0;
  left: 18px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-item:nth-child(2)::before {
  top: 90px;
  left: 18px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-item:nth-child(3)::before {
  top: 0;
  left: 586px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-item:nth-child(4)::before {
  top: 90px;
  left: 586px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blog {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 38px;
}

.blog-news {
  min-width: 560px;
  min-height: 220px;
  border-radius: 15px;

  background-color: #ffffff;
  background-image: url("../img/background-strawberry.jpg");
  background-repeat: no-repeat;
}

.blog-text {
  padding: 22px 19px;
  max-width: 300px;
}

.blog-news h3 {
  font-size: 16px;
  font-weight: 500;
  color: #323232;

  margin: 0;
  margin-bottom: 5px;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;

  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:active {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #e84d37;
  text-decoration: underline;
  text-decoration-color: rgba(232,77,55,0.3);
}

.blog-dispatch {
  max-width: 560px;
  min-height: 220px;
  border-radius: 15px;

  background-color: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
}

.dispatch-text {
  padding: 28px 20px;
  margin: 5px;
  border-radius: 10px;

  background-color: #f8f7f4;
}

.blog-dispatch p {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 3px;
  color: #5a5a5a;
}

.dispatch-form p{
  margin: 0;
  padding: 0;
}

.dispatch-form {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
}

.dispatch {
  min-width: 369px;
  height: 44px;
  box-sizing: border-box;

  padding-left: 15px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.dispatch-form input[type="text"] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.dispatch-button {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 10px 20px;
}

.map {
  min-width: 1200px;
  position: relative;
  margin-left: -27px;
}

.map iframe {
  position: relative;

  border: none;
}

.map::before {
  content: "";

  position: absolute;
  top: 138px;
  left: 266px;

  width: 190px;
  height: 140px;

  background-image: url("../img/pin.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 1;
}

.address {
  max-width: 252px;

  padding: 30px 25px;

  position: absolute;
  top: 64px;
  right: 27px;

  background-color: #ffffff;

  border-radius: 10px;

  z-index: 3;
}

.address p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  margin-top: -2px;
  margin-bottom: 15px;
}

.address span {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}

.feedback-button {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 27px;
  margin-top: 14px;
}
/* страница каталога */

.inner-page {
  min-width: 940px;
  background-color: #849d8f;
}

.catalog-page {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-navigation {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 18px;
  margin-bottom: -1px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 22px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -24px;

  width: 16px;
  height: 12px;

  background-image: url("../img/breadcrumbs.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;

  margin: 0;
  padding: 0;
  margin-top: -5px;
  margin-bottom: 27px;
}

.filters {


  margin-bottom: 40px;
}

.filter legend {
  margin-bottom: 7px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 15px;

  border: none;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filter ul {
  padding: 0;
  padding-right: 15px;
  margin: 0;

  list-style: none;
  line-height: 36px;

  border-radius: 30px;
}

.custom-select {
  position: relative;

  width: 194px;
  height: 36px;
  overflow: hidden;

  background-color: rgba(248,247,244,0.2);
  border-radius: 30px;

  cursor: pointer;
}

.custom-select svg {
  position: absolute;
  top: 13px;
  right: 14px;
}

.custom-select path {
  fill: #ffffff;
}

.custom-select select {
  width: 214px;
  height: 36px;

  padding: 0;
  margin: 0;
  padding-left: 12px;
  margin-top: -2px;

  background: transparent;
  border: 0;

  color: #ffffff;
}

.custom-select:hover select {
  color: #323232;
}

.custom-select:hover path {
  fill: #231F20;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;

  height: 19px;
  padding-top: 17px;
  padding-right: 22px;
  padding-left: 22px;

  background-color: rgba(248,247,244,0.2);

  border-radius: 30px;
}

.range-controls .scale {
  height: 2px;

  background: #d1dad3;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 36px;
}

.range-controls .toggle-max {
  left: 133px;
}

.fat-list,
.extender-list {
  list-style: none;

  background-color: rgba(248,247,244,0.2);
}

.fat-item {
  padding-left: 41px;
  padding-right: 9px;
}

.fat-list label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.fat-input-radio + label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -30px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fat-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 6px;
  left: -30px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.extender-item {
  padding-left: 45px;
  padding-right: 9px;
}

.extender-list label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.extender-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -30px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.extender-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 6px;
  left: -30px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fat-list,
.extender-list {
    display: flex;
    justify-content: center;
}

.filter-button {
  height: 36px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  margin-top: 23px;
  padding-left: 26px;
  padding-right: 26px;

  background-color: rgba(248,247,244,0.2);
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.filter-button:hover {
  color: #323232;

  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;

  background-color: #ededed;
}

.catalog {
  padding: 0;
  margin: 0;
}

.catalog-list {
  list-style: none;

  padding: 0;
  margin: 0;
  margin-top: -16px;
  margin-bottom: 42px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  max-width: 267px;
  min-height: 323px;

  position: relative;

  margin-bottom: 40px;
}



.hover-product {

  max-width: 293px;
  min-height: 405px;

  position: relative;

  background-color: rgba(248,247,244,0.2);
}

.pagination-list {
  padding: 0 5px;
  margin: 0;

  position: relative;

  list-style: none;

  margin-bottom: 32px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination-list::before {
  content: "";

  position: absolute;
  top: 6px;
  right: 180px;

  width: 16px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
}

.pagination-list path {
  fill: #ffffff;
}

.pagination-item {
  margin-right: 20px;
}

.pagination-item a {
  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
color: #ffffff;
text-decoration: none;
padding: 5px 10px;
margin-left: -10px;
margin-right: -10px;
border-radius: 50%;
background-color: rgba(255,255,255,0.2);
}

.pagination-item a:active,
.pagination-current a {
color: #000000;
text-decoration: none;
pointer-events: none;
padding: 3px 9px;
margin-left: -10px;
margin-right: -10px;
border-radius: 50%;
background-color: #ffffff;
}

.pagination-list li:last-child {
  margin-left: 0px;
}

/* Модальные окна и попапы*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  color: #000000;

  background-color: #f8f7f4;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 18px;

  width: 18px;
  height: 17px;

  font-size: 0;

  background-image: url("../img/cross-big.svg");
  border: 0;

  cursor: pointer;
}

.modal-feedback {
  top: 120px;
  left: 50%;

  display: none;

  width: 428px;
  padding: 25px;
  padding-top: 17px;
  margin-left: -230px;
  border-radius: 10px;
}

.name-feedback,
.email-feedback {
  width: 267px;
  height: 44px;
}

.text-feedback {
  width: 428px;
  height: 155px;
}

.modal-feedback p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 22px;
}

.feedback-form p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-form input[type="text"],
.feedback-form input[type="textarea"] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-button-form {
  font-size: 18px;
  line-height: 24px;
  margin-top: 3px;
  margin-left: 290px;
  padding: 10px 23px;
}

.modal-search {
  position: absolute;
  top: 36px;
  right: 0px;

  display: none;

  padding: 4px 15px;
  border-radius: 5px;
  z-index: 1;
}

.search:hover .modal-search {
  display: block;
}

.text-search {
  width: 297px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-left: 12px;
}

.modal-login {
  position: absolute;

  width: 240px;

  top: 60px;
  right: 107px;

  display: none;

  padding: 4px 19px;
  border-radius: 5px;
  z-index: 1;
}

.login-link:hover .modal-login {
  display: block;
}

.entrance-email,
.entrance-password {
  width: 241px;
  height: 45px;
  margin-bottom: 3px;
  padding-left: 13px;
}

.login-button {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0px 24px;
}

.registration {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}

.password-info {
  margin: 0;
  padding: 0;
  padding-left: 22px;
}

.password-info a {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.password-info a:hover,
.password-info a:active {
  color: #e84d37;
  text-decoration: underline;
  text-decoration-color: rgba(232,77,55,0.3);
}

.login-form input,
.feedback-form input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 15px;
}

.login-form input:hover,
.search-form input:hover,
.dispatch-form input:hover,
.feedback-form input:hover {
  border: 2px solid #9a9a9a;
}

.login-form input:focus,
.search-form input:focus,
.dispatch-form input:focus,
.feedback-form input:focus {
  border: 2px solid #2e88e4;
}

.user-navigation .basket-product {
  font-size: 13px;
  padding-top: 7px;
  padding-left: 45px;

  color: #000000;
  background-color: #f8f7f4;
  position: relative;
}

.user-navigation .basket-product::after {
  content: "";

  width: 21px;
  height: 20px;

  position: absolute;
  top: 7px;
  left: 14px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-basketful {
  position: absolute;

  padding-bottom: 66px;

  width: 540px;

  top: 59px;
  right: 0;

  display: none;

  border-radius: 5px;
  z-index: 1;
}

.basket-product:hover .modal-basketful {
  display: block;
}

.basketful-list {
  position: relative;

  padding-top: 12px;
  width: 100%;
}

.basketful-list p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basketful-list span {
  color: #999999;
}

.basketful-list td {
  vertical-align: top;
}

.cross {
  width: 11px;
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 21px;
}

.icon-icecream {
  width: 34px;
  padding-left: 5px;
  padding-top: 5px;
}

.name-icecream {
  width: 230px;
  padding-left: 10px;
}

.weight-icecream {
  width: 45px;
  padding-left: 15px;
}

.price-icecream {
  width: 50px;
  padding-left: 0px;
}

.total-icecream {
  width: auto;
  padding-left: 21px;
}

.total {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;

  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 11px;

  text-align: right;

  position: relative;
}

.total::before {
  content: "";

  position: absolute;
  top: 0;
  left: 50%;
  width: 95%;
  border-bottom: 1px solid rgba(50,50,50,0.2);

  transform: translate(-50%);
}

.button-basket {
  font-size: 18px;
  line-height: 24px;

  margin: 0;
  padding: 13px 15px;

  position: absolute;
  bottom: 20px;
  right: 10px;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Футер */
.inner-page .main-footer {
  margin-top: 20px;
}

.main-footer .line-footer {
  height: 1px;

  background: #a9bbb1;

  margin-bottom: 33px;
}

.main-footer {
  margin-top: 29px;
  padding: 0;
  padding-bottom: 25px;
  min-height: 108px;
}

.main-footer .footer-container {
  display: flex;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  min-width: 187px;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-right: 235px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5);
}

.social-button:hover g,
.social-button:focus g,
.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  border: 3px solid rgba(255,255,255,0.7);
}

.social-button:active g,
.social-button:active path {
  fill: #e9e9e9;
}

.footer-menu {
  display: flex;
  margin: 0;
  margin-top: -4px;
  padding: 0;
}

.footer-menu-left,
.footer-menu-right {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 32px;
}

.footer-menu-left a,
.footer-menu-right a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.footer-current {
  font-weight: bold;
  position: relative;
}

.footer-current::before {
  content: "";

  position: absolute;
  top: 2px;;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.copyright {
  margin:0;
  padding: 0;
  min-width: 220px;
  margin-left: auto;
  margin-right: -32px;
  margin-top: -15px;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  margin: 0;
}

.copyright a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
